<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Library Management API Suite" verbose="2">

    <test name="Petstore Library Tests">
        <classes>
            <class name="com.apitest.library.LibraryTest"/>
        </classes>
    </test>

</suite>
